<!DOCTYPE html>
<html lang="en">
    <head>
		<title> Synergy Startups </title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="start.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</head>
	
	<body>
	
		<div class="container">
			<h1>Welcome To Synergy StartUps</h1>
			<div id="login" class="login">
				<h2> login </h2>
				<form action = '/login' method='post'>
					<input type = "text" name = "email" value="email" require="" />
					<input type = "password" name = "password" value = "password" required="" />
					<br/>
					<input type = "submit" value="submit"/>
				</form>
				<p>
					Need to Register?<br/> <a href="register.html" target="_self">Register a New Account</a>
				</p>
			</div>
			
			<div id="about" class="about">
				<h2> About Synergy StartUps</h2>
				<b>Synergy StartUps allows you to probe your intended industry for interest in your startup idea</b>
			</div>
		</div>
	</body>
	
</html>